TridionContentFromExternalSource/Service References/TridionCoreService/CoreService2013.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sdltridion.com/ContentManager/CoreService/2013" elementFormDefault="qualified" targetNamespace="http://www.sdltridion.com/ContentManager/CoreService/2013" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsv001200.sp15dev.local/webservices/CoreService2013.svc?xsd=xsd1" namespace="http://www.sdltridion.com/ContentManager/R6" />
  <xs:import schemaLocation="http://wsv001200.sp15dev.local/webservices/CoreService2013.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wsv001200.sp15dev.local/webservices/CoreService2013.svc?xsd=xsd4" namespace="http://www.sdltridion.com/Security" />
  <xs:import schemaLocation="http://wsv001200.sp15dev.local/webservices/CoreService2013.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetApiVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApiVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetCurrentUserResult" nillable="true" type="q1:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistingObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTcmUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contextRepositoryUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTcmUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetTcmUriResult" nillable="true" type="q2:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetTcmUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contextRepositoryUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetTcmUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="TryGetTcmUriResult" nillable="true" type="q3:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q4:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadResult" nillable="true" type="q5:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q6:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="TryReadResult" nillable="true" type="q7:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSchemaFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expandEmbeddedFields" type="xs:boolean" />
        <xs:element xmlns:q8="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q8:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSchemaFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadSchemaFieldsResult" nillable="true" type="q9:SchemaFieldsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSchemaFieldsToXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="schemaFieldsData" nillable="true" type="q10:SchemaFieldsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSchemaFieldsToXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertSchemaFieldsToXsdResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deltaData" nillable="true" type="q11:IdentifiableObjectData" />
        <xs:element xmlns:q12="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q12:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SaveResult" nillable="true" type="q13:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxonomyNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deleteTaxonomyNodeMode" type="q14:DeleteTaxonomyNodeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxonomyNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="itemType" type="q15:ItemType" />
        <xs:element minOccurs="0" name="containerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q16:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetDefaultDataResult" nillable="true" type="q17:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q18:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="MoveResult" nillable="true" type="q19:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="makeUnique" type="xs:boolean" />
        <xs:element xmlns:q20="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q20:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CopyResult" nillable="true" type="q21:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerItemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q22:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetInstanceDataResult" nillable="true" type="q23:InstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q24:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="TryCheckOutResult" nillable="true" type="q25:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
        <xs:element xmlns:q26="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q26:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CheckOutResult" nillable="true" type="q27:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removePermanentLock" type="xs:boolean" />
        <xs:element minOccurs="0" name="userComment" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q28:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CheckInResult" nillable="true" type="q29:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deltaData" nillable="true" type="q30:IdentifiableObjectData" />
        <xs:element xmlns:q31="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q31:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UpdateResult" nillable="true" type="q32:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q33:IdentifiableObjectData" />
        <xs:element xmlns:q34="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q34:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CreateResult" nillable="true" type="q35:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
        <xs:element xmlns:q36="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q36:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UndoCheckOutResult" nillable="true" type="q37:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rollback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="id" nillable="true" type="q38:TcmUri" />
        <xs:element minOccurs="0" name="deleteVersions" type="xs:boolean" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q39:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RollbackResult" nillable="true" type="q40:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Localize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q41:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="LocalizeResult" nillable="true" type="q42:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLocalize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q43:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnLocalizeResult" nillable="true" type="q44:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTemplateTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="itemType" nillable="true" type="q45:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTemplateTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListTemplateTypesResult" nillable="true" type="q46:ArrayOfTemplateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublicationTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublicationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListPublicationTypesResult" nillable="true" type="q47:ArrayOfPublicationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q48:SystemWideListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemWideListXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q49:SystemWideListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSystemWideListResult" nillable="true" type="q50:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q51:SubjectRelatedListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q52:SubjectRelatedListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListResult" nillable="true" type="q53:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListDirectoryServiceNamesResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWindowsDomainUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWindowsDomainUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://www.sdltridion.com/Security" minOccurs="0" name="GetListWindowsDomainUsersResult" nillable="true" type="q55:ArrayOfWindowsUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceAllUsersResult" nillable="true" type="q56:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceGroupMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupDN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceGroupMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceGroupMembersResult" nillable="true" type="q57:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://www.sdltridion.com/Security" minOccurs="0" name="filter" nillable="true" type="q58:DirectoryUsersFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceUsersResult" nillable="true" type="q59:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Classify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q60:ArrayOfstring" />
        <xs:element xmlns:q61="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q61:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ClassifyResult" nillable="true" type="q62:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q63:ArrayOfstring" />
        <xs:element xmlns:q64="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q64:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnClassifyResult" nillable="true" type="q65:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToRemove" nillable="true" type="q66:ArrayOfstring" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToAdd" nillable="true" type="q67:ArrayOfstring" />
        <xs:element xmlns:q68="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q68:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReClassifyResult" nillable="true" type="q69:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q70="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q70:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="StartActivityResult" nillable="true" type="q71:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resumeAt" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="resumeBookmark" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q72:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SuspendActivityResult" nillable="true" type="q73:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q74:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RestartActivityResult" nillable="true" type="q75:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAssigneeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q76="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q76:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReAssignActivityResult" nillable="true" type="q77:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityFinishData" nillable="true" type="q78:ActivityFinishData" />
        <xs:element xmlns:q79="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q79:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="FinishActivityResult" nillable="true" type="q80:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceFinishProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processInstanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="approvalStatusId" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q81:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceFinishProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ForceFinishProcessResult" nillable="true" type="q82:ProcessHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q83:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ResumeActivityResult" nillable="true" type="q84:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueueMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueueMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListQueueMessagesResult" nillable="true" type="q85:ArrayOfQueueMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListQueuesResult" nillable="true" type="q86:ArrayOfQueueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadApplicationDataResult" nillable="true" type="q87:ApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadAllApplicationDataResult" nillable="true" type="q88:ArrayOfApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element xmlns:q89="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="applicationData" nillable="true" type="q89:ArrayOfApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetApplicationIdsResult" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePredefinedBatchOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePredefinedBatchOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ParsePredefinedBatchOperationResult" nillable="true" type="q91:PredefinedBatchOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPredefinedBatchOperationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="operation" type="q92:PredefinedBatchOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPredefinedBatchOperationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPredefinedBatchOperationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q93:ArrayOfstring" />
        <xs:element xmlns:q94="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="resolveInstruction" nillable="true" type="q94:ResolveInstructionData" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q95:ArrayOfstring" />
        <xs:element xmlns:q96="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q96:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ResolveItemsResult" nillable="true" type="q97:ArrayOfPublishContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q98:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q99:SearchQueryData" />
        <xs:element minOccurs="0" name="startRowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsXmlPagedResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q100:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSearchResultsResult" nillable="true" type="q101:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q102:SearchQueryData" />
        <xs:element minOccurs="0" name="startRowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSearchResultsPagedResult" nillable="true" type="q103:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q104:PublishInstructionData" />
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RenderItemResult" nillable="true" type="q105:RenderedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviewItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="itemData" nillable="true" type="q106:RepositoryLocalObjectData" />
        <xs:element xmlns:q107="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="templateData" nillable="true" type="q107:TemplateData" />
        <xs:element xmlns:q108="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q108:PublishInstructionData" />
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviewItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="PreviewItemResult" nillable="true" type="q109:RenderedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q110:ArrayOfstring" />
        <xs:element xmlns:q111="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q111:PublishInstructionData" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q112:ArrayOfstring" />
        <xs:element xmlns:q113="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q113:PublishPriority" />
        <xs:element xmlns:q114="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q114:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="PublishResult" nillable="true" type="q115:ArrayOfPublishTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="unPublishInstruction" nillable="true" type="q117:UnPublishInstructionData" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q118:ArrayOfstring" />
        <xs:element xmlns:q119="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q119:PublishPriority" />
        <xs:element xmlns:q120="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q120:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnPublishResult" nillable="true" type="q121:ArrayOfPublishTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPublishedInContext" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPublishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemSnapshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemSnapshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetWorkItemSnapshotResult" nillable="true" type="q122:RenderedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListPublishInfoResult" nillable="true" type="q123:ArrayOfPublishInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numericActions" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CastActionsResult" nillable="true" type="q124:ActionFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q125:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidTridionWebSchemaXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q126:SchemaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidTridionWebSchemaXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidTridionWebSchemaXmlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectIdsWithApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectIdsWithApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSubjectIdsWithApplicationDataResult" nillable="true" type="q127:ArrayOfTcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataForSubjectsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q128:ArrayOfstring" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="applicationIds" nillable="true" type="q129:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataForSubjectsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadApplicationDataForSubjectsIdsResult" nillable="true" type="q130:ApplicationDataDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityDescriptorsForSubjectsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q131:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityDescriptorsForSubjectsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSecurityDescriptorsForSubjectsIdsResult" nillable="true" type="q132:SecurityDescriptorDataDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentSecurityDescriptorsForOrgItemIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="organizationalItemIds" nillable="true" type="q133:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentSecurityDescriptorsForOrgItemIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetContentSecurityDescriptorsForOrgItemIdsResult" nillable="true" type="q134:SecurityDescriptorDataDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReIndexResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CastPredefinedQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastPredefinedQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CastPredefinedQueueResult" nillable="true" type="q135:PredefinedQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeOldVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="instruction" nillable="true" type="q136:PurgeOldVersionsInstructionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeOldVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurgeOldVersionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExternalLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExternalLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListExternalLinksResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertXmlToSearchQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchQueryXml" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertXmlToSearchQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ConvertXmlToSearchQueryResult" nillable="true" type="q137:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSearchQueryToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="searchQueryData" nillable="true" type="q138:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSearchQueryToXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertSearchQueryToXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualFolderTypeSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="namespaceUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualFolderTypeSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetVirtualFolderTypeSchemaResult" nillable="true" type="q139:SchemaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetEnumValuesResult" nillable="true" type="q140:ArrayOfTridionEnumValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveBundleTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q141:ArrayOfstring" />
        <xs:element minOccurs="0" name="pruneTree" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveBundleTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ResolveBundleTypesResult" nillable="true" type="q142:ArrayOfBundleTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyToKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceKeywordId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q143="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q143:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyToKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CopyToKeywordResult" nillable="true" type="q144:KeywordData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceKeywordId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q145="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q145:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="MoveToKeywordResult" nillable="true" type="q146:KeywordData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTridionLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTridionLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetTridionLanguagesResult" nillable="true" type="q147:ArrayOfTridionLanguageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWorkflowScriptTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWorkflowScriptTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListWorkflowScriptTypesResult" nillable="true" type="q148:ArrayOfWorkflowScriptType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q149:ArrayOfstring" />
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q150="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q150:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="AddToWorkflowResult" nillable="true" type="q151:ArrayOfWorkItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q152:ArrayOfstring" />
        <xs:element xmlns:q153="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q153:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RemoveFromWorkflowResult" nillable="true" type="q154:ArrayOfWorkItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationalItemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q155="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q155:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="LockResult" nillable="true" type="q156:OrganizationalItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationalItemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q157="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q157:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnlockResult" nillable="true" type="q158:OrganizationalItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repositoryId" nillable="true" type="xs:string" />
        <xs:element xmlns:q159="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="instruction" nillable="true" type="q159:StartWorkflowInstructionData" />
        <xs:element xmlns:q160="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q160:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="StartWorkflowResult" nillable="true" type="q161:ProcessInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoPublishTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publishTransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q162="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q162:QueueMessagePriority" />
        <xs:element xmlns:q163="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q163:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoPublishTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UndoPublishTransactionResult" nillable="true" type="q164:PublishTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessDefinitionsForItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q165:ArrayOfstring" />
        <xs:element xmlns:q166="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="processDefinitionType" type="q166:ProcessDefinitionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessDefinitionsForItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetProcessDefinitionsForItemsResult" nillable="true" type="q167:ProcessDefinitionAssociationDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemXsdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemasByNamespaceUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repositoryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namespaceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rootElementName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemasByNamespaceUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSchemasByNamespaceUriResult" nillable="true" type="q168:ArrayOfLinkToSchemaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deltaData" nillable="true" type="q169:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ValidateResult" nillable="true" type="q170:ArrayOfValidationErrorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalBinaryContentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalBinaryContentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetExternalBinaryContentDataResult" nillable="true" type="q171:BinaryContentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="dataObject" nillable="true" type="q172:IdentifiableObjectData" />
        <xs:element xmlns:q173="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="synchronizeOptions" nillable="true" type="q173:SynchronizeOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SynchronizeWithSchemaResult" nillable="true" type="q174:SynchronizationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithSchemaAndUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q175="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="synchronizeOptions" nillable="true" type="q175:SynchronizeOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithSchemaAndUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SynchronizeWithSchemaAndUpdateResult" nillable="true" type="q176:SynchronizationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecommissionPublicationTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecommissionPublicationTargetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.microsoft.com/Message" name="DownloadBinaryContentResult" type="q177:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContentByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q178="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="accessToken" nillable="true" type="q178:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContentByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.microsoft.com/Message" name="DownloadBinaryContentByUserResult" type="q179:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRenderedBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRenderedBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.microsoft.com/Message" name="DownloadRenderedBinaryResult" type="q180:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadExternalBinaryContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadExternalBinaryContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.microsoft.com/Message" name="DownloadExternalBinaryContentResult" type="q181:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.microsoft.com/Message" name="UploadContent" type="q182:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FilePath" nillable="true" type="xs:string" />
  <xs:element name="UploadBinaryByteArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBinaryByteArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadBinaryByteArrayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpersonateBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpersonateBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ImpersonateBatchResult" nillable="true" type="q183:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchLocalize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q184:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchLocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchLocalizeResult" nillable="true" type="q185:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnLocalize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q186:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnLocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchUnLocalizeResult" nillable="true" type="q187:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q188:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="makeUnique" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchCopyResult" nillable="true" type="q189:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q190:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchMoveResult" nillable="true" type="q191:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q192:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="removePermanentLock" type="xs:boolean" />
        <xs:element minOccurs="0" name="userComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchCheckInResult" nillable="true" type="q193:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q194:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchCheckOutResult" nillable="true" type="q195:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q196:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchDeleteResult" nillable="true" type="q197:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q198:ArrayOfWeakLink" />
        <xs:element xmlns:q199="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q199:PublishInstructionData" />
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q200:ArrayOfstring" />
        <xs:element xmlns:q201="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q201:PublishPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchPublishResult" nillable="true" type="q202:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q203:ArrayOfWeakLink" />
        <xs:element xmlns:q204="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="unPublishInstruction" nillable="true" type="q204:UnPublishInstructionData" />
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q205:ArrayOfstring" />
        <xs:element xmlns:q206="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q206:PublishPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchUnPublishResult" nillable="true" type="q207:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q208:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchUndoCheckOutResult" nillable="true" type="q209:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchStartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q210:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchStartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchStartActivityResult" nillable="true" type="q211:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchFinishActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q212:ArrayOfWeakLink" />
        <xs:element xmlns:q213="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityFinishData" nillable="true" type="q213:ActivityFinishData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchFinishActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchFinishActivityResult" nillable="true" type="q214:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchForceFinishProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="processInstanceLinks" nillable="true" type="q215:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="approvalStatusId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchForceFinishProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchForceFinishProcessResult" nillable="true" type="q216:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q217:ArrayOfWeakLink" />
        <xs:element xmlns:q218="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q218:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchClassifyResult" nillable="true" type="q219:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q220:ArrayOfWeakLink" />
        <xs:element xmlns:q221="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q221:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchUnClassifyResult" nillable="true" type="q222:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q223:ArrayOfWeakLink" />
        <xs:element xmlns:q224="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToRemove" nillable="true" type="q224:ArrayOfstring" />
        <xs:element xmlns:q225="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToAdd" nillable="true" type="q225:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchReClassifyResult" nillable="true" type="q226:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDeleteTaxonomyNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q227="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q227:ArrayOfWeakLink" />
        <xs:element xmlns:q228="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deleteTaxonomyNodeMode" type="q228:DeleteTaxonomyNodeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchDeleteTaxonomyNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchDeleteTaxonomyNodeResult" nillable="true" type="q229:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSwitchUserEnabledState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q230="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q230:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="isEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSwitchUserEnabledStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q231="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchSwitchUserEnabledStateResult" nillable="true" type="q231:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCopyToKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q232="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q232:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCopyToKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q233="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchCopyToKeywordResult" nillable="true" type="q233:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMoveToKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q234="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q234:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchMoveToKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q235="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchMoveToKeywordResult" nillable="true" type="q235:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReAssignActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q236="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q236:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="newAssigneeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReAssignActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q237="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchReAssignActivityResult" nillable="true" type="q237:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchRestartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q238="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q238:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchRestartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q239="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchRestartActivityResult" nillable="true" type="q239:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSuspendActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q240="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q240:ArrayOfWeakLink" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSuspendActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q241="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchSuspendActivityResult" nillable="true" type="q241:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchResumeActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q242="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityInstanceLinks" nillable="true" type="q242:ArrayOfWeakLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchResumeActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q243="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchResumeActivityResult" nillable="true" type="q243:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSynchronizeWithSchemaAndUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q244="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="subjectLinks" nillable="true" type="q244:ArrayOfWeakLink" />
        <xs:element xmlns:q245="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="synchOptions" nillable="true" type="q245:SynchronizeOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchSynchronizeWithSchemaAndUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q246="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="BatchSynchronizeWithSchemaAndUpdateResult" nillable="true" type="q246:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Impersonate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpersonateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q247="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ImpersonateResult" nillable="true" type="q247:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionContextData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q248="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="appData" nillable="true" type="q248:ApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionContextDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionTransactionTimeout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionTimeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionTransactionTimeoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionTransactionTimeout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionTransactionTimeoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionTransactionTimeoutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCaching">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCachingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartCachingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCaching">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCachingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWebDavUrlPrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWebDavUrlPrefixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnlistInTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnlistInTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>